.Inputfields .Inputfield.Inputfield_publish_to_twitter_tid,
.Inputfields .Inputfield.Inputfield_publish_to_twitter_tid label,
.Inputfields .Inputfield.Inputfield_publish_to_twitter_tid div,
.Inputfields .Inputfield.Inputfield_publish_to_twitter_tid i,
.Inputfields .Inputfield.Inputfield_publish_to_twitter_tid p,
.Inputfields .Inputfield.Inputfield_publish_to_twitter_tid input {
    visibility:hidden;
    height:0;
    width:0;
    margin:0;
    padding:0;
    border:0;
    line-height:0;
    overflow:hidden;
}